imex/imex-id-service/src/main/java/uk/ac/ebi/intact/imex/idservice/keyassigner/generated/RegIMEx.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://imex.org/registry" xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://imex.org/registry"
                  xmlns:intf="http://imex.org/registry" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
    <wsdl:types>
        <schema targetNamespace="http://imex.org/registry" xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="SubmissionAxis">
                <sequence>
                    <element name="partner" type="xsd:string"/>
                    <element name="keyRangeFrom" type="xsd:long"/>
                    <element name="keyRangeTo" type="xsd:long"/>
                    <element name="submissionId" type="xsd:long"/>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>

    <wsdl:message name="newSubmissionRequest">

    </wsdl:message>

    <wsdl:message name="newSubmissionResponse1">

        <wsdl:part name="newSubmissionReturn" type="impl:SubmissionAxis"/>

    </wsdl:message>

    <wsdl:message name="newSubmissionResponse">

        <wsdl:part name="newSubmissionReturn" type="impl:SubmissionAxis"/>

    </wsdl:message>

    <wsdl:message name="newSubmissionRequest1">

        <wsdl:part name="in0" type="xsd:int"/>

    </wsdl:message>

    <wsdl:portType name="RegIMEx">

        <wsdl:operation name="newSubmission">

            <wsdl:input message="impl:newSubmissionRequest" name="newSubmissionRequest"/>

            <wsdl:output message="impl:newSubmissionResponse" name="newSubmissionResponse"/>

        </wsdl:operation>

        <wsdl:operation name="newSubmission" parameterOrder="in0">

            <wsdl:input message="impl:newSubmissionRequest1" name="newSubmissionRequest1"/>

            <wsdl:output message="impl:newSubmissionResponse1" name="newSubmissionResponse1"/>

        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="RegIMExSoapBinding" type="impl:RegIMEx">

        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="newSubmission">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="newSubmissionRequest">

                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://imex.org/registry" use="encoded"/>

            </wsdl:input>

            <wsdl:output name="newSubmissionResponse">

                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://imex.org/registry" use="encoded"/>

            </wsdl:output>

        </wsdl:operation>

        <wsdl:operation name="newSubmission">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="newSubmissionRequest1">

                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://imex.org/registry" use="encoded"/>

            </wsdl:input>

            <wsdl:output name="newSubmissionResponse1">

                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://imex.org/registry" use="encoded"/>

            </wsdl:output>

        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="RegIMExService">

        <wsdl:port binding="impl:RegIMExSoapBinding" name="RegIMEx">

            <wsdlsoap:address location="https://imex.mbi.ucla.edu:50006/RegIMEx/services/RegIMEx"/>

        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>